.progress-bar-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of items */
  gap: 2px; /* Adjust the gap between progress bars as needed */
  align-items: center; /* Align items vertically */
}

.progress-bar {
  height: 1.5px;
  flex-grow: 1;
}

.progress-bar.current {
  background-color: white;
}

.progress-bar.correct {
  background-color: green;
}

.progress-bar.incorrect {
  background-color: red;
}

.progress-label {
  font-size: 18px;
  color: black;
  margin-right: 4px;
  margin-bottom: 2px; /* Add bottom margin */
  display: flex;
  justify-content: center; /* Horizontally align the number */
  align-items: center; /* Vertically align the number */
  width: 24px; /* Adjust the width to fit the circle */
  height: 24px; /* Adjust the height to fit the circle */
  background-color: white; /* Background color for the circle */
  cursor: pointer;
}

.progress-label.current {
  border-radius: 50%;
  border: 2px solid black; /* Border for the circle */
  /* background-color: yellow;*/ /* Different background color for the selected number */
}

/* Media query to adjust layout for smaller screens */
@media (max-width: 200px) {
  .progress-bar-container {
      flex-direction: column; /* Stack items vertically */
  }

  .progress-bar-segment {
      display: flex;
      align-items: center;
  }

  .progress-label {
      margin-bottom: 4px; /* Adjust margin for better spacing */
  }
}

/* General styles for the card */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* Styles for the question title */
.card h5 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styles for the question text */
.card p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Styles for the options list */
.card ul {
  list-style-type: none;
  padding: 0;
}

/* Styles for the options */
.card li {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

/* Styles for correct options */
.card li.correct {
  background-color: #d4edda; /* Light green background */
  border-color: #c3e6cb; /* Green border */
  color: #155724; /* Dark green text */
}

/* Styles for incorrect options */
.card li.incorrect {
  background-color: #f8d7da; /* Light red background */
  border-color: #f5c6cb; /* Red border */
  color: #721c24; /* Dark red text */
}