.progress-bar-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of items */
  gap: 2px; /* Adjust the gap between progress bars as needed */
  align-items: center; /* Align items vertically */
}

.progress-bar {
  height: 3px;
  flex-grow: 1;
}

.progress-bar.current {
  background-color: white;
}

.progress-bar.correct {
  background-color: green;
}

.progress-bar.incorrect {
  background-color: red;
}

.progress-label {
  font-size: 18px;
  color: black;
  margin-right: 4px;
  margin-bottom: 2px; /* Add bottom margin */
  display: flex;
  justify-content: center; /* Horizontally align the number */
  align-items: center; /* Vertically align the number */
  width: 24px; /* Adjust the width to fit the circle */
  height: 24px; /* Adjust the height to fit the circle */
  background-color: white; /* Background color for the circle */
  cursor: pointer;
}

.progress-label.current {
  border-radius: 50%;
  border: 2px solid black; /* Border for the circle */
  /* background-color: yellow;*/ /* Different background color for the selected number */
}

/* Media query to adjust layout for smaller screens */
@media (max-width: 200px) {
  .progress-bar-container {
      flex-direction: column; /* Stack items vertically */
  }

  .progress-bar-segment {
      display: flex;
      align-items: center;
  }

  .progress-label {
      margin-bottom: 4px; /* Adjust margin for better spacing */
  }
}