.multi-line-treeselect .p-treeselect-label-container {
    white-space: normal !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
}

.multi-line-treeselect .p-treeselect-label {
    white-space: normal !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
}

.cardOption {
    margin-bottom: 0px; /* Adjust this value as needed */
    padding: 10px; /* Adjust this value as needed */
}

.explanation-container {
    margin: 0.3rem 0; /* Adds 1rem of space above and below the div */
    padding-left: 36px; /* Adjust this value to match the indentation of the option text */
}

.explanation-container-review {
    text-align: left;
    margin: 0.3rem 0; /* Adds 1rem of space above and below the div */
  }
  
.option-label {
        display: block;
        cursor: pointer;
    display: flex;
    align-items: center;
}

.option-label input[type="radio"] {
    margin-right: 18px; /* Adjust this value to align the radio button and text correctly */
    margin-bottom: 3px; /* Adjust this value to align the radio button and text correctly */
}